In [1]:
import yfinance as yf
import pandas as pd

from pandas import DataFrame
start_date = '2024-01-01'
end_date = '2024-06-01'

tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
all_data:dict[str:DataFrame]= {ticker: yf.download(ticker,start=start_date, end=end_date, interval='1d',auto_adjust=False) for ticker in tickers }
price_df = pd.DataFrame({key:DataFrame['Adj Close'][key] for key, DataFrame in all_data.items()})
price_df1 = price_df.rename(columns={'2330.TW':'台積電','2303.TW':'聯電','2454.TW':'聯發科','2317.TW':'鴻海'})
price_df1

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                   台積電         聯電          聯發科          鴻海
Date
2024-01-02  582.770691  49.163513   915.833130  102.375000
2024-01-03  568.029541  47.932056   889.693176  101.887505
2024-01-04  569.994934  48.121510   889.309875  101.400002
2024-01-05  566.063965  48.121510   882.601685  101.400002
2024-01-08  572.943237  47.837330   881.643372   98.962502
...                ...        ...          ...         ...
2024-05-27  857.997498  53.615700  1231.425903  180.375000
2024-05-28  854.048157  53.426247  1255.383545  180.862503
2024-05-29  846.149414  52.952610  1236.217407  175.987503
2024-05-30  827.390076  52.857880  1236.217407  172.087509
2024-05-31  810.605286  52.100063  1183.510498  167.699997

[98 rows x 4 columns]

In [6]:
price_df2 = price_df1.groupby(price_df1.index.month).agg([("平均","mean"),("最高","max"),("最低","min")])
price_df2.index ="2024-"+ price_df2.index.astype(str) + "月份"
price_df2

                 台積電                                 聯電                        \
                  平均          最高          最低         平均         最高         最低
Date
2024-1月份  593.938327  636.821960  566.063965  47.525159  49.542423  45.563869
2024-2月份  666.002099  685.959473  617.166931  46.081229  46.653236  45.469147
2024-3月份  751.108172  775.061035  677.114746  48.753027  50.489697  45.753326
2024-4月份  777.973691  809.617920  732.605469  48.206766  50.394970  46.132236
2024-5月份  818.100045  863.921509  762.225647  50.571507  53.615700  47.647873

                  聯發科                                    鴻海              \
                   平均           最高           最低          平均          最高
Date
2024-1月份   887.701530   925.725586   842.352783   98.958071  102.375000
2024-2月份   969.807735  1092.471069   891.226501  100.125004  100.912506
2024-3月份  1116.885207  1178.718872  1058.930420  124.289288  151.612503
2024-4月份  1033.487311  1149.969604   925.725586  147.615005  155.025009
2024-5月份  1112.726318  1255.383545   958.308044  166.680684  180.862503


                  最低
Date
2024-1月份   96.135002
2024-2月份   98.475006
2024-3月份   99.450005
2024-4月份  137.475006
2024-5月份  150.150009